---
import MainLayout from '../layouts/MainLayout.astro';

// Server Only
const name = 'Rafael Soriano Ramírez';
---

<MainLayout title="Home page">
  <h1>{name}</h1>

  <p>Momento actual: {new Date().toLocaleTimeString()}</p>
  <p id="current-time">Momento actual real:</p>

  <footer>Año: 2023</footer>

  <script>
    // client only
    const footer = document.querySelector('footer') as HTMLElement;
    const currentTimeParagrah = document.querySelector(
      '#current-time',
    ) as HTMLParagraphElement;

    const currentYear: number = new Date().getFullYear();

    footer.innerText = `Año: ${currentYear}`;
    currentTimeParagrah.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
  </script>
</MainLayout>
